<header>
      <h1>The Restaurant Of The Jakes</h1>
    </header>
    <hr>
    <div class="container">
      <aside id="menu">
        <h2>Menu</h2>
        <nav>
          <ul>
            <li><a href="#">Brunch</a></li>
            <li><a href="#">Breakfast</a></li>
            <li><a href="#">Lunch</a></li>
            <li><a href="#">Dinner</a></li>
            <li><a href="#">Late Night</a></li>
          </ul>
        </nav>
      </aside>
      <section id="banner">
        <img src="images/banner.ashx" alt="The Restaurant of The Jakes" />
      </section>
    </div>
    <hr>
    <footer>
      <div id="about">
        <h2>About Jakes</h2>
        <p>
          Fine Dining and a Great Sports Bar, Delicious Entrees, Great Steaks,
          14 Draught Beers on Tap Monday Nites: Delicious Price Rib - $21.00
          A Late Night Menu Available, Daily Luncheon Specials, Fresh Seafood
          Specials, an Award Winning Wine List, and Jakes is open 7 Days 
          a week . . .
        </p>
      </div>
      <div id="hours">
        <h2>Hours Of Operation</h2>
        <ol>
          <li>Monday: 9 - 5</li>
          <li>Tuesday: 9 - 5</li>
          <li>Wednesday: 9 - 5</li>
          <li>Thursday: 9 - 5</li>
          <li>Saturday: 11 - 4</li>
          <li>Sunday: Close</li>
        </ol>
      </div>
    </footer>