* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
}

h2,
h3 {
    font-size: 2.5em;
    font-weight: bolder;
    text-decoration: underline;
}

p,
ol,
ul {
    font-size: 1.75em;
}

body {
    background-color: gray;
}

header {
    text-align: center;
}

hr {
    color: white;
}

.container {
    width: 100%;
}

#banner img {
    margin: 1em auto;
}

aside {
    border: 2px dashed black;
    text-align: center;
}

#menu h2 {
    font-size: 1.15em;
    text-align: center;
}

#menu nav ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#about {
    border-bottom: 3px solid black;
    padding-bottom: 20px;
}

#about,
#hours h2 {
    text-align: center;
}

#hours ol {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #menu h2 {
        text-align: left;
    }
    /* #menu nav {
        padding: 0 5em 3em 2em;
    } */
    #menu nav {
        padding: 0 10em 6em 2em;
    }
    #menu nav ul {
        list-style-type: disc;
        text-align: left;
    }
    #banner img {
        margin-top: 0;
        height: 250px;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    footer>* {
        width: 50%;
        padding: 0 2em;
    }
    #about {
        border-bottom: 0;
        border-right: 3px solid black;
    }
    #hours {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    #menu {
        margin-left: -2em;
    }
    #menu nav {
        padding: 0 10em 6em 2em;
    }
}

@media screen and (min-width: 1600px) {
    #menu {
        margin-left: -17em;
    }
}